<div
  class="d-flex align-items-center justify-content-center  login-box"
>
  <div class="col-md-3">
    <div class="form-control shadow-lg">
      <h2 class="display-5 text-center">Login</h2>
      <label class="form-label" for="email">E-mail</label>
      <input type="text" class="form-control mb-3" />
      <label class="form-label" for="Senha">Senha</label>
      <input type="password" class="form-control mb-3" />
      <div class="d-flex justify-content-center">
        <button
          class="btn btn-primary mb-1"
          [routerLink]="['cadastro', 'clientes']"
        >
          Entrar
        </button>
      </div>
    </div>
  </div>
</div>
